@model IEnumerable<leavemanagementsystem.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h3>Employees</h3>
<hr />

<table id="employeesTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Firstname)</th>
            <th>@Html.DisplayNameFor(model => model.Lastname)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.TaxId)</th>
            <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
            <th>@Html.DisplayNameFor(model => model.DateJoined)</th>
        </tr>
    </thead>
</table>

@section scripts{
    <script src="~/js/employees.js"></script>
}