@model leavemanagementsystem.Data.Entities.LeaveType
<!--Modal Body Start-->

<div class="modal-content">

    <!--Modal Header Start-->
    <div class="modal-header">
        <h4 class="modal-title">Add Leave Type</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <!--Modal Header End-->


    <form asp-action="AddEditLeaveType" asp-controller="LeaveType" method="post" enctype="multipart/form-data">

        @Html.AntiForgeryToken()

        <div class="modal-body form-horizontal">

            <div class="form-group row">
                @Html.HiddenFor(model => model.Id)

                @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    <input asp-for="@Model.Name" placeholder="Enter Name" class="form-control" />
                </div>

            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Description, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    <textarea asp-for="@Model.Description" class="form-control" placeholder="Please enter description here" />
                </div>
            </div>

        </div>

        <!--Modal Footer Start-->
        <div class="modal-footer">
            <button data-dismiss="modal" id="cancel" class="btn btn-default" type="button">Cancel</button>
            <button class="btn btn-success relative" id="btnSubmit" type="submit"><i class="loader"></i>Submit</button>
        </div>
        <!--Modal Footer End-->
    </form>

</div>


<!--Modal Body End-->  